{% extends "::Templates/Default/base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="hero-unit">
	<h2>Admin Panel</h2>
	<ul>
		<li><a href="{{ path('menu_node') }}">Menu Nodes</a></li>
		<li><a href="{{ path('pages') }}">Pages</a></li>
		<li><a href="{{ path('users') }}">Users</a></li>
	</ul>
</div>

{% endblock %}