<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet">
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
	</head>
	<body>
		<div class="container-fluid">
			<header class="row-fluid">
				<!-- Logo/banner -->
				<a class="brand" href="{{ path('homepage') }}"> <!-- <img src="yourlogo.png" class="img-rounded"> --><h1>Insert logo here!</h1></a>
			</header>
			<div class="row-fluid">
				<div class="span2">
					<!--Sidebar content-->
					{{ include('::Templates/Default/menu.html.twig') }}
				</div>
				<div class="span10">
					<!--Body content-->
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<footer>(c) Copyright {{ "now"|date("Y") }} <a href="http://www.melvinloos.nl">Melvin Loos</a>. All Rights Reserved. </footer>
		</div>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		{% block page_js %}{% endblock %}
	</body>
</html>