<ul class="nav nav-tabs nav-stacked">
	<li><a href="{{ path('homepage') }}">Home</a></li>
	{% if menu_items == false %}
		No other menu items have been created!
	{% else %}
		{% for item in menu_items %}
	<li>
		<a href="{{ item.url }}">{{ item.name }}</a>
		{% if item.hasChildren == true %}
			<ul class="offset1">
			{% for child in item.children %}
			<li>
				<a href="{{ child.url }}">{{ child.name }}</a>
			</li>
			{% endfor %}
			</ul>
		{% endif %}
	</li>
		{% endfor %}
	{% endif %}
</ul>