{% extends "::Templates/Default/base.html.twig" %}

{% block content %}
    <h1>Menu\Node edit</h1>

    <form action="{{ path('menu_node_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('menu_node') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('menu_node_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
{% block page_js %}
<script type="text/javascript" src="{{ asset('js/page_specific/menu_node.js') }}"></script>
{% endblock %}