{% extends "::Templates/Default/base.html.twig" %}

{% block content %}
<a class="btn" href="{{ path('admin') }}">Back to Admin Panel overview</a>
    <h1>Menu\Node list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Page</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('menu_node_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.page }}</td>
                <td>{{ entity.url }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('menu_node_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('menu_node_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('menu_node_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
