{% extends "::Templates/Default/base.html.twig" %}

{% block content %}
    <h1>Menu\Node creation</h1>

    <form action="{{ path('menu_node_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('menu_node') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block page_js %}
<script type="text/javascript" src="{{ asset('js/page_specific/menu_nodes.js') }}"></script>
{% endblock %}