{% extends '::Templates/Default/base.html.twig' %}

{% block content %}
    <h1>User list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Suffix</th>
                <th>Lastname</th>
                <th>Nickname</th>
                <th>Department</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.suffix }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{{ entity.department }}</td>
                <td>{{ entity.gender }}</td>
                <td>{% if entity.birthdate %}{{ entity.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
