{% extends "::Templates/Default/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero-unit">
	<h2>Welcome!</h2>
	<div class="btn btn-large btn-primary">Please sign up here!</div>
</div>

{% endblock %}