{% extends "::Templates/Default/base.html.twig" %}

{% block title %}{{ page.name }}{% endblock %}

{% block content %}
<div class="hero-unit">
	<h2>{{ page.name }}</h2>
	<div>{{ page.content }}</div>
</div>

{% endblock %}